<div class="">
  <div class="">
    <div class="container">
        <div class="" align='center'>
            <p><h2>Stock Entry From Gate Pass</h2></p>
        </div>
        <hr>
        <div class="g">
            <div class="g1">
              <div class="">
                <label><h2>Product</h2></label>
                </div>

              <input type="text" name="" value="">
            </div>
            <div class="g2">
              <div class="">
                <label><h2>GatePass NO.</h2></label>
                <input type="text" name="" value="">
              </div>
              <div class="">
                <label><h2>Rec.Date</h2></label>
                <input type="date" name="" value="">
              </div>
              <div class="">
                <label><h2>Batch NO .</h2></label>
                <input type="text" name="" value="">
              </div>
            </div>
            <div class="g3">
              <div class="">
                <label><h2>Quantity</h2></label>
                <input type="text" name="" value="">
              </div>
              <div class="">
                <label><h2>Rate</h2></label>
                <input type="date" name="" value="">
              </div>
              <div class="">
                <label><h2>MRP .</h2></label>
                <input type="text" name="" value="">
              </div>
              <div class="">
                <label><h2>UNIT.</h2></label>
                <input type="text" name="" value="">
              </div>
            </div>
            <div class="g4">
              <div class="">
                <label><h2>Mfg. Date.</h2></label>
                <input type="date" name="" value="">
              </div>
              <div class="">
                <label><h2>Exp. Date</h2></label>
                <input type="date" name="" value="">
              </div>
              <div class="">
                <label><h2>ED Flag .</h2></label>
                <input type="text" name="" value="">
              </div>
            </div>
        </div><hr><br>
        <div id="base">
            <button name="" value="Add NEW"> <b> Add NEW </b></button>
            <button name="" value="SAVE"><b>SAVE</b></button>
            <button name="" value="DELETE"><b>DELETE</b></button>
            <button name="" value="STOCK REPORT (CLOSING)"><b>STOCK REPORT</b> (CLOSING)</button>
            <button name="" value="GATE PASS "><b>GATE PASS</b></button>
        </div>
    </div>
  </div>

</div>
